/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;
    
}

/*header*/
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 400px;
    color: white;
}
.nav-box{
    width: 100%;
    display: flex;
    background-color: rgb(47, 88, 252);
    padding-inline:1rem ;
  
}
.nav-top{
    width: 100%;
    display: flex;
    background-color: rgb(47, 88, 252);
  
}
.nav-space25{
    width: 25%;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-space20{
    width: 20%;
    background-color: white;
    color: black;
    border-radius: 10px;
   
}
.nav-space40{

    width: 40%;
   
}
.ul-navtop{
    display: flex;
}

.container{
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.jumbo-box{
    display: flex;
    justify-content: center;
    height: 200px;
}

.jumbo{
    
    width: 60%;
}

.text-jumbo{
    text-align: center;   
    padding-top: 3rem;    
}
.bottoms-jumbo{

    display: flex;
    justify-content:space-around;
    padding-top: 1rem;
}
.macbottom{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem;

}
.opendiscordbottom{
    
    background-color: black;
    border-radius: 20px;
    padding: 0.5rem;
}
/*main*/

.main-section{
    display: flex;
    max-width: 550px;
    
}

.image-section{
    
    width: 40%;
}
.item1{
    background-image: url(../img/item1.svg);
    background-size: cover;
}
.item2{
    background-image: url(../img/item2.svg);
    background-size: cover;

}
.item3{
    background-image: url(../img/item3.svg);
    background-size: cover;
}
.text-section{
    width: 60%;
    padding-inline: 2rem ;
}
.titlepar{
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;

}
.paragrafo{
    padding-top: 1rem;
    text-align: center;
}

.bkg-darkgray{
    background-color: rgb(239, 237, 237);
}

.row-reverse{
    flex-direction: row-reverse ;
}

.content{
    width: 100%;
} 
.item4{
    background-image: url(../img/item4-big.svg) ;
    background-size: cover;
    height:300px ;
}
.stars{
    padding: 3rem;
    text-align: center;
    font-weight: 800;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.bottom-stars{
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    padding: .5rem;
    margin-top: 1rem;
    width: 30%;
    margin-inline:auto;
}
.bkg-dark{
    
    background-color: rgb(35, 32, 32);
    
}

.columns{
    display: flex;
    max-width: 550px;
}

.pinkcolumn{
  
    width: 40%;
    
}
.bandiera{
    background-image: url(../img/ita.png);
    background-size: cover;
    width: 2rem;
}
.italy{
    display: flex;
    color: white;
}

.greencolumn{
    
    width: 15%;
    
}
ul{
    list-style: none;
    color: white;
}

.titlist{
    font-weight: 800;
    color: cornflowerblue;
    padding-bottom: 0.5rem;
}
/*footer*/

.nav-bottom{
    display: flex;
    width: 550px;
    margin-inline: auto;
    padding: .5rem;
    justify-content: space-between;
    margin-top: 1rem;
}



.logo{
    background-image: url(../img/logo.svg);
    background-size: cover;
    width: 20%;
}
.bottom{
    color: white;
    background-color: cornflowerblue;
    border-radius: 15px;
    width: 20%;
    padding: 0.3rem;

}

.riga{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}